#
#  Carbon component:  main resource file defining the particular instances.
#
#  v0, Dec 5, 2022: M.Long - first crack 
#
#  For detailed description consult:
#
#

# Toggles
WellMixedSurfaceExchange: .true.  # This controls surface uptake, basically.
UseResidual:              .true.

#not implemented yet H2O_feedback: .true. # feedback water production from CH4 photolysis
#not implemented yet CH4_feedback: .true. # Increment CH4 due to CH4 photolysis
#not implemented yet CO2_feedback: .true. # Increment CO2 due to CO+OH reaction

# Declare active instances. These will constitute the total abundance of a species
CH4_instances: wetland industrial extract transport agwaste biofuel onat fire
 CO_instances: bbae bbna bbla bbaf bbgl nbas nbna nbeu nbgl
CO2_instances: biomass ff nep ocn

# Passive instances. They can be blank. If a passive entry is also 
# included in the active list, it will be switched to passive.
 CO_passive_instances: bbae bbna bbla bbaf nbas nbna nbeu
CO2_passive_instances:
CH4_passive_instances:

# Surface flux pairs associate surface flux imports with carbon gas instances
# instance | import | optional: d=diurnal scaling p=PBL <numeric> scale factor, in any order
# -------------------------------------------------------------
CO2_surface_flux_pairs::
 biomass CO2_BIOMASS_ p d
 ff      CO2_FF_
 nep     CO2_NEP_
 ocn     CO2_OCN_
# namerica     CO2_BIOMASS_ p d
# namerica     CO2_FF_
# namerica     CO2_NEP_
# namerica     CO2_OCN_
::

CH4_surface_flux_pairs::
 agwaste emis_CH4agwaste
 extract emis_CH4extract
 industrial emis_CH4industrial
 transport emis_CH4transport
 onat emis_CH4onat
 fire emis_CH4fire d p
 wetland emis_CH4wetland
 biofuel emis_CH4biofuel
::

CO_surface_flux_pairs::
 bbae CO_BIOMASS d p
 bbna CO_BIOMASS d p
 bbla CO_BIOMASS d p
 bbaf CO_BIOMASS d p
 bbgl CO_BIOMASS d p
#
 nbas CO_FS # Fossil fuel
 nbas CO_ISOP
 nbas CO_NVOC
 nbas CO_TERP
 nbas CO_BF
#
 nbna CO_FS # Fossil fuel
 nbna CO_ISOP
 nbna CO_NVOC
 nbna CO_TERP
 nbna CO_BF
#
 nbeu CO_FS # Fossil fuel
 nbeu CO_ISOP
 nbeu CO_NVOC
 nbeu CO_TERP
 nbeu CO_BF
#
 nbgl CO_FS # Fossil fuel
 nbgl CO_ISOP
 nbgl CO_NVOC
 nbgl CO_TERP
 nbgl CO_BF
::

# Masks:
# Format <instance> <mask1> <mask2> ...
# where <mask_> is either 
# - an integer, referring to an associated value in an imported region mask
# - a lat/lon box of the form lat1,lat2,lon1,lon2
#   the lat/lon box uses a comma delimiter, and cannot contain spaces
#   Spaces will be interpreted by ESMF as a field delimiter and will cause an error
#   in the mask interpreter.
#   Examples: 
#     namerica 1
#   defines a mask referencing the value '1' in the region mask import file defined
#   in ExtData.rc. Surface fluxes associated with the instance 'namerica' will have this
#   mask applied
#     
# -------------------------------------------------------------------------
CO2_masks::
# namerica 1
::

CO_masks::
 bbae 3 9 10
 bbna 1
 bbla 2 6
 bbaf 5
 nbas 4 10
 nbna 1
 nbeu 3 9
::

photolysisFile: /discover/nobackup/qliang/fvInput/Standard/SC.J_20_12_79_72_200_45.jpl15.nc4
